<div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <%= link_to image_tag(post.image, style: "height: 275px;"), post, class: "image" %>
        <div class="caption">
          <h4><%= link_to post.content.html_safe, post %></h4>
          <p><%= post.content.html_safe %></p>
        </div>
        <div class="ratings">
          <p class="pull-right"><%= post.rates("quality").count %> rated</p>
          <p>
            <% if post.average("quality") %>
              <% avg_star = post.average("quality").avg.round %>
              <% avg_star.times do %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
              <% (5 - avg_star).times do %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            <% else %>
              <% 5.times do %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
