<% if @is_search %>
  $(".user").html("<br><h1>Search Result</h1><br><br><div class='container'><%= j render 'posts' %></div>")
<% else %>
  $(".home-content").html("<%= j render 'home_page_content' %>");
<% end %>
