<% provide :title, t("admin.musical_instrument.edit") %>
<% provide :submit, t("admin.musical_instrument.save") %>

<h1><%= t "admin.musical_instrument.edit" %></h1>
<br />
<br />
<%= render "form" %>
