<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= t "error.have" %> <%= pluralize object.errors.count, t("error.error") %>
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
