<div class="input-group form">
  <input type="text" name="btnSearch" id="search_form" 
    class="form-control" placeholder="Search..."/>
  <span class="input-group-btn">
    <%= link_to "Search", "#", class: "search btn btn-primary" %>
  </span>
</div>
