<div class="input-group form">
  <input type="text" name="btnSearch" id="search_form" 
    class="form-control" placeholder="<%= t "user.placeholder_search" %>"/>
  <span class="input-group-btn">
    <%= link_to t("user.search"), "#", class: "search btn btn-primary" %>
  </span>
</div>
